extends layout

block content
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').brand #{title}
        .nav-collapse
          ul.nav
            li.active
              a(href='/') Home
            li
              a(href='/') Bestsellers
            li
              a(href='/') Contact
            .col-sm-3.col-md-3.pull-right
              form.navbar-form(role='search')
                .input-group
                  input#product_name.input-block-level(type='text', placeholder='Search Products', name='title')
                  button#submit.btn.btn-default(type='submit', value='Search')
                    i.glyphicon.glyphicon-search




   #this-carousel-id.carousel.slide

      .carousel-inner
        .item.active

          h1#header Check out the latest brands
          img(src='#{indexResults[1].LargeImage[0].URL[0]}')
          p
            a.btn-custom(role='button', href='#{indexResults[1].DetailPageURL[0]}') Shop Now &raquo;
        .item
          h1#header Get the best deals
          img(src='#{indexResults[2].LargeImage[0].URL[0]}')
          p
            a.btn-custom(role='button', href='#{indexResults[2].DetailPageURL[0]}') Shop Now &raquo;
      a.carousel-control.left(href='#this-carousel-id', data-slide='prev') ‹
      a.carousel-control.right(href='#this-carousel-id', data-slide='next') ›


  .container-fluid






